{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{{form.media}}
<title>
    {% block title %}
      update {{lead.name}}
    {% endblock title %}
  </title>
<div class="container">
  <div class="well">
  <div class="row justify-content-center grid">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <div class="card">
        <div class="card-header text-muted text-center">
          <h3 class="card-title">Create <b class="text-info">Lead</b> </h3>
        </div>
        <div class="card-body">
          <div class="jumbotron">
        <form action="" method="post">
          <div class="row">
          {% csrf_token %}
          <div class="form-group col-sm-4 col-md-6">
            {{ form.name.label_tag }}
            {% render_field form.name class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-6">
            {{ form.category.label_tag }}
            {% render_field form.category class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-6">
            {{ form.phone.label_tag }}
            {% render_field form.phone class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-6">
            {{ form.source.label_tag }}
            {% render_field form.source class="form-control" %}
          </div>
          <div class="form-group col-sm-4 col-md-6">
            {{ form.email.label_tag }}
            {% render_field form.email class="form-control" %}
          </div>
            <div class="form-group col-sm-4 col-md-6">
              {{ form.task.label_tag }}
              {% render_field form.task class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-6">
              {{ form.user.label_tag }}
              {% render_field form.user class="form-control" %}
            </div>
            <div class="form-group col-sm-4 col-md-6">
              {{ form.comment.label_tag }}
              {% render_field form.comment class="form-control" %}
            </div>
          </div>
          </div>
        </div>
          <div class="card-footer text-muted text-center">
            <button type="submit" class="btn btn-success btn-block"><span class="fa fa-hdd" aria-hidden="true"></span> Create</button>
          </form>
          <h1 style="margin-top: 10px;"><a href="/leads"class="btn btn-danger btn-block"><span class="fa fa-undo" aria-hidden="true"></span> Back</a></h1>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}